# {{ ansible_managed }}
PATH={{ tessdb_venv_dir }}/bin:/usr/local/bin:/usr/bin:/bin
PYTHONIOENCODING=utf-8
#PYTHONPATH={{ tessdb_venv_dir }}/lib/python/3.6/site-packages
VIRTUAL_ENV={{ tessdb_venv_dir }}
