# {{ ansible_managed }}
PATH={{ tessdb_venv_dir }}/bin:/usr/local/bin:/usr/bin:/bin
PYTHONIOENCODING=utf-8
VIRTUAL_ENV={{ tessdb_venv_dir }}
DATABASE_URL={{ tessdb_config.dbase.connection_string }}
MQTT_BROKER={{ tessdb_config.mqtt.broker | default('tcp:test.mosquitto.org:1883') }}
MQTT_USERNAME="{{ tessdb_config.mqtt.username | default('') }}"
MQTT_PASSWORD="{{ tessdb_config.mqtt.password | default('') }}"
MQTT_CLIENT_ID="{{ tessdb_config.mqtt.client_id | default('') }}"
