#!/bin/bash
# {{ ansible_managed }}
# ----------------------------------------------------------------------
# Copyright (c) 2019 Rafael Gonzalez.
#
# See the LICENSE file for details
# ----------------------------------------------------------------------
NICE=$(which nice)
export VIRTUAL_ENV={{ reports_venv_dir }}
${NICE} -n 19 {{ reports_venv_dir }}/bin/python3 -m tess_ida "$@"
