# {{ ansible_managed }}
/var/log/tess_ida.log {
    su root root
    daily
    dateext
    rotate {{ reports_tess_ida_logrotate_days | default(30) }}
    missingok
    notifempty
#   compress
#   delaycompress
    copytruncate
}
