#!/bin/bash
# {{ ansible_managed }}
# ----------------------------------------------------------------------
# Copyright (c) 2019 Rafael Gonzalez.
#
# See the LICENSE file for details
# ----------------------------------------------------------------------
export VIRTUAL_ENV={{ reports_venv_dir }}
/usr/bin/nice -n 19 {{ reports_venv_dir }}/bin/python3 -m tess_ida "$@"
