---

- name: Make sure {{ new_tdb_usr_local_bin }} exists
  ansible.builtin.file: 
    path: '{{ new_tdb_usr_local_bin }}'
    state: directory
    owner: root
    group: root
    mode: '0755'
  tags: [config]

- name: copies smtp self-signed CA file to {{ new_tdb_venv_dir }}
  ansible.builtin.copy:
    src: mail_server.pem
    dest: '{{ new_tdb_venv_dir }}/mail_server.pem'
    owner: '{{ new_tdb_runtime_user }}'
    group: '{{ new_tdb_runtime_user }}'
    mode: '0644'
  when: new_tdb_ssl_mail_server
  tags: [config]

- name: Make sure {{ new_tdb_dbase_dir }} exists
  ansible.builtin.file: 
    path: '{{ new_tdb_dbase_dir }}'
    state: directory
    owner: '{{ new_tdb_runtime_user }}'
    group: '{{ new_tdb_runtime_user }}'
    mode: '0755'
  tags: [config]

- name: Make sure {{ new_tdb_etc_dir }} tessdb config directory exists
  ansible.builtin.file: 
    path: '{{ new_tdb_etc_dir }}'
    state: directory
    owner: '{{ new_tdb_runtime_user }}'
    group: '{{ new_tdb_runtime_user }}'
    mode: '0755'
  tags: [config] 

- name: Makes sure {{ new_tdb_service_dir }} exists
  ansible.builtin.file: 
    path: '{{ new_tdb_service_dir }}'
    state: directory
    owner: root
    group: root
    mode: '0755'
  tags: [config]

- name: Makes sure {{ new_tdb_logrotate_dir }} exists
  ansible.builtin.file: 
    path: '{{ new_tdb_logrotate_dir }}'
    state: directory
    owner: root
    group: root
    mode: '0755'
  tags: [config]

- name: Install tdbalarm service unit {{ new_tdb_service_dir }}/tdbalarm.service
  ansible.builtin.template:
    dest: '{{ new_tdb_service_dir }}/tdbalarm.service'
    src: tdbalarm.service.j2
    owner: root
    group: root
    mode: '0644'
  register: new_tdb_systemd_changed
  tags: [config]

- name: Install tdbalarm timer unit {{ new_tdb_service_dir }}/tdbalarm.timer
  ansible.builtin.template:
    dest: '{{ new_tdb_service_dir }}/tdbalarm.timer'
    src: tdbalarm.timer.j2
    owner: root
    group: root
    mode: '0644'
  register: new_tdb_systemd_changed
  tags: [config]

- name: Install environment file for {{ new_tdb_service_dir }}/tdbalarm.service
  ansible.builtin.template:
    dest: '{{ new_tdb_etc_dir }}/tdbalarm.env'
    src: tdbalarm.env.j2
    owner: '{{ new_tdb_runtime_user }}'
    group: '{{ new_tdb_runtime_user }}'
    mode: '0644'
  tags: [config]

- name: Install tessdb service unit {{ new_tdb_service_dir }}/tessdb.service
  #when: false
  ansible.builtin.template:
    dest: '{{ new_tdb_service_dir }}/tessdb.service'
    src: tessdb.service.j2
    owner: root
    group: root
    mode: '0644'
  register: new_tdb_systemd_changed
  tags: [config]

- name: Install environment file for {{ new_tdb_service_dir }}/tessdb.service
  #when: false
  ansible.builtin.template:
    dest: '{{ new_tdb_etc_dir }}/tessdb.env'
    src: tessdb.env.j2
    owner: '{{ new_tdb_runtime_user }}'
    group: '{{ new_tdb_runtime_user }}'
    mode: '0644'
  tags: [config]

- name: copy {{ new_tdb_etc_dir }}/config.toml file
  #when: false
  ansible.builtin.template:
    dest: '{{ new_tdb_etc_dir }}/config.toml'
    src: config.toml.j2
    owner: '{{ new_tdb_runtime_user }}'
    group: '{{ new_tdb_runtime_user }}'
    mode: '0644'
  tags: [config]

- name: Copy binaries to {{ new_tdb_usr_local_bin }}
  ansible.builtin.copy:
    dest: '{{ new_tdb_usr_local_bin }}/{{ item }}'
    src: '{{ new_tdb_venv_dir }}/.venv/bin/{{ item }}'
    remote_src: yes
    owner: root
    group: root
    mode: preserve
  loop:
    - tessdb_pause
    - tessdb_resume
    - tessdb_reload
  tags: [config]

# File owner for this logrotate spec should be root
# as I discovered by manually running logrotate
- name: Patches '{{ new_tdb_logrotate_dir }}/tessdb logrotate spec
  #when: false
  ansible.builtin.template: 
    dest: '{{ new_tdb_logrotate_dir }}/tessdb'
    src: logrotate.j2
    owner: root
    group: root
    mode: '0644'
  tags: [config]

# -------------
# SELinux stuff
# -------------

- name: Manage the SELinux state of {{ new_tdb_venv_dir }}/.venv/bin
  community.general.sefcontext:
    target: '{{ new_tdb_venv_dir }}/.venv/bin(/.*)?'
    ftype: a
    setype: bin_t
    state: present
  register: new_tdb_selinux_venv_context
  when: new_tdb_selinux_enabled and new_tdb_root == ''
  tags: [config]

- name: Apply SELinux context to {{ new_tdb_venv_dir }}/.venv/bin
  ansible.builtin.command: restorecon -irv {{ new_tdb_venv_dir | quote }}/.venv/bin
  when: new_tdb_selinux_enabled and new_tdb_root == ''
  tags: [config]


- name: Manage the SELinux state of {{ new_tdb_dbase_dir }} database directory
  community.general.sefcontext:
    target: '{{ new_tdb_dbase_dir }}'
    ftype: d
    setype: var_log_t
    seuser: unconfined_u
    state: present
  register: new_tdb_selinux_db_context
  when: new_tdb_selinux_enabled and new_tdb_root == ''
  tags: [config]

- name: Manage the SELinux state of {{ new_tdb_dbase_dir }}/tess.db database directory
  community.general.sefcontext:
    target: '{{ new_tdb_dbase_dir }}/tess.db'
    ftype: a
    setype: var_log_t
    seuser: unconfined_u
    state: present
  register: new_tdb_selinux_db_context
  when: new_tdb_selinux_enabled and new_tdb_root == ''
  tags: [config]

- name: Apply SELinux context changes to {{ new_tdb_dbase_dir }}
  ansible.builtin.command: restorecon -irv {{ new_tdb_dbase_dir | quote }}
  when: new_tdb_selinux_enabled and new_tdb_root == ''
  tags: [config]
