## {{ ansible_managed }}

$seekfilesdir = '{{ check_logfiles_state_dir }}';
# where the state information will be saved.

$protocolsdir = '{{ check_logfiles_protocol_dir }}';
# where protocols with found patterns will be stored.

$scriptpath = '{{ nagios_exec_dir }}';
# where scripts will be searched for.

@searches = (
  {
    tag => 'dbfailures',
    logfile => '/var/log/tessdb.log',
    rotation => 'tessdb\.log-\d{8}',
    criticalpatterns => ['DB Stats Readings \[Total, OK, NOK\] = \(0, 0, 0\)'],
    okpatterns => ['starting \d{1,2}\.\d{1,2}\.\d{1,2} on Twisted \d{1,2}\.\d{1,2}\.\d{1,2}, Python \d\.\d{1,2}'],
    options => 'script,protocol,nocount,sticky',
    script => 'nagios_tessdb_restart',
    scriptdelay => 60
  },
);
