# {{ ansible_managed }}
PATH={{ new_tdb_venv_dir }}/.venv/bin:{{ new_tdb_usr_local_bin }}:/usr/bin:/bin
PYTHONIOENCODING=utf-8
VIRTUAL_ENV={{ new_tdb_venv_dir }}/.venv

# ----------------
# tdbalarm package
# ----------------

ALARMS_DATABASE_URL={{ new_tdb_alarm_config.dbase.connection_string }}
SMTP_HOST={{ new_tdb_alarm_config.smtp.host | default('localhost') }}
SMTP_PORT={{ new_tdb_alarm_config.smtp.port | default(25) }}
SMTP_SENDER="{{ new_tdb_alarm_config.smtp.sender | default('') }}"
SMTP_RECEIVERS="{{ new_tdb_alarm_config.smtp.receivers | default('') }}"
SMTP_PASSWORD={{ new_tdb_alarm_config.smtp.password | default('') }}
SMTP_SECURE={{ new_tdb_alarm_config.smtp.secure | ternary(1, 0) | default(0) }}
ADMIN_HTTP_ADDR={{ new_tdb_alarm_config.admin.connect_addr | default('localhost') }}
ADMIN_HTTP_PORT={{ new_tdb_alarm_config.admin.port | default(8080) }}
WAIT_MINUTES={{ new_tdb_alarm_config.wait_minutes | default(20) }}
