# {{ ansible_managed }}
PATH={{ new_tdb_venv_dir }}/.venv/bin:{{ new_tdb_usr_local_bin }}:/usr/bin:/bin
PYTHONIOENCODING=utf-8
VIRTUAL_ENV={{ new_tdb_venv_dir }}/.venv

# ---------------------
# tessdb server package
# ---------------------

# Database
DATABASE_URL={{ new_tdb_config.dbase.connection_string }}
# MQTT
MQTT_TRANSPORT={{ new_tdb_config.mqtt.transport | default('tcp') }}
MQTT_HOST={{ new_tdb_config.mqtt.broker | default('test.mosquitto.org') }}
MQTT_PORT={{ new_tdb_config.mqtt.port | default(1883) }}
MQTT_USERNAME="{{ new_tdb_config.mqtt.username | default('') }}"
MQTT_PASSWORD="{{ new_tdb_config.mqtt.password | default('') }}"
MQTT_CLIENT_ID="{{ new_tdb_config.mqtt.client_id | default('') }}"
# Administration API
ADMIN_HTTP_LISTEN_ADDR="{{ new_tdb_config.admin.listen_addr | default('localhost') }}"
ADMIN_HTTP_PORT={{ new_tdb_config.admin.port | default(8080) }}
