# {{ ansible_managed }}
[Unit]
Description=TESS Quality Sky Meter database service
Documentation=https://github.com/STARS4ALL/tessdb-server

[Service]
Type=simple
# We use root to write to /var/log
User=root
KillMode=process
ExecStart={{ new_tdb_venv_dir }}/.venv/bin/tess-db-server --config {{ new_tdb_etc_dir }}/config.toml --log-file {{ new_tdb_log_dir}}/tessdb.log
ExecReload={{ new_tdb_venv_dir }}/.venv/bin/tessdb_reload
EnvironmentFile={{ new_tdb_etc_dir }}/tessdb.env
